* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: rgb(66, 116, 233);
	background: url(https://png.pngtree.com/thumb_back/fh260/background/20220511/pngtree-seamless-geometric-ornament-based-on-traditional-moroccan-art-image_1301990.jpg);
	background-size: 6rem;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding-top: 10vh;
	gap: 2rem;
}

#newTask, form > button {
	height: 2rem;
	padding: 0.24rem;
	border: none;
	
}

#newTask {
	width: 50vw;
	outline: none;

}


h1 {
	background-color: rgba(157, 137, 127, 0.597);
	padding: 0.5rem;
}

#list {
	width: 28rem;
	overflow: scroll;
	display: flex;
	flex-flow: column;
	gap: 0.25rem;
	align-items: start;
	scrollbar-width: none;
	background-color: rgba(157, 137, 127, 0.597);
	box-shadow: 0 0 6px 1px rgba(97, 91, 91, 0.439);
	height: 60vh;
	border-radius: 24px;
	padding: 1rem;
}

#list > li {
	display: flex;
	list-style: none;
	gap: 0.4rem;
	font-size: 1.2em;
}

li > input {
	width: 1.5rem;
}

li > button {
	width: 1.2rem;
	border: none;
	aspect-ratio: 1 / 1;
	background: no-repeat center url("https://png.pngtree.com/png-vector/20230527/ourmid/pngtree-red-cross-paint-clipart-transparent-background-vector-png-image_7110618.png");
	background-size: 2em;
}

#clearAll {
	background-color: black;
	padding: 0.34rem;
	border: none;
	outline: none;
	color: red;
	font-size: 1em;
	font: bold 2em;
}




